{% extends "base.html" %}
<html lang="en">

<body>

{% block navbar_top %}
<nav class="navbar navbar-light bg-light">
      <form class="container-fluid justify-content-end">
        <a class="btn btn-outline-success me-4" href="{{ url_for('logout') }}" role="button">Log out</a>
        <a class="btn btn-outline-danger me-2" role="button" data-bs-toggle="modal" data-bs-target="#DAS">Delete all stats</a>
      </form>
</nav>
{% endblock %}

{% block menu %}
<br>
{% for message in get_flashed_messages() %}
<div class="alert alert-danger border border-danger text-center" role="alert">
  {{ message }}
</div>
{% endfor %}

<!-- Warning Modal "Are you sure to del all stats..." -->
<div class="modal fade" id="DAS" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Warning!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete all stats?</p>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary" href="{{ url_for('delete_all_stats') }}">Yes</a>
        <a type="button" class="btn btn-secondary" data-bs-dismiss="modal" href="{{ url_for('index') }}">No</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
    {% set ns = namespace(count=1) %}
{% for elem_games in array_of_games %}
<div class="card m-3" style="width: 18rem;">
  <div class="card-body">
          <div class="mb-3">
              <button type="button" class="btn-close" aria-label="Close" data-bs-toggle="modal" data-bs-target="#DTG"></button>
              <p class="form-label text-center"><b>Game # {{ ns.count }}</b></p>

            <label for="exampleInputEmail" class="form-label">{{ elem_games.teams1.teamname }}</label>
              <div class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">{{ elem_games.goals_1 }}</div>

          </div>
          <div class="mb-3">

            <label for="exampleInputPassword" class="form-label">{{ elem_games.teams2.teamname }}</label>
              <div class="form-control" id="exampleInputPassword">{{ elem_games.goals_2 }}</div>
          </div>
  </div>
</div>

<!-- Warning Modal "Are you sure to del the current Game #..." -->
<div class="modal fade" id="DTG" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Warning!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the current game?</p>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary" href="{{ url_for('delete_game_stats', game_number=elem_games.id) }}">Yes</a>
        <a type="button" class="btn btn-secondary" data-bs-dismiss="modal" href="{{ url_for('index') }}">No</a>
      </div>
    </div>
  </div>
</div>
{% set ns.count=(ns.count + 1) %}
{% endfor %}


<!-- Создание новой игры -->
<div class="card m-3" style="width: 18rem;">
  <div class="card-body">
    <a class="knopka_class position-absolute top-50 start-50 translate-middle" href="{{ url_for('create_new_game') }}">Add Game</a> <!-- data-bs-toggle="modal" data-bs-target="#newgame" -->
  </div>
</div>
</div>

<div class="modal fade" id="newgame" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                    <div class="card m-3" style="width: 18rem;">
                      <div class="card-body">
                            <form method="post" action="">     <!-- НЕ ЗАБЫВАЕМ ПРОПИСЫВАТЬ МЕТОД(method)! -->
                              <div class="mb-3">
                                  <p class="form-label text-center"><b>Game</b></p>
                                <label for="1st_team_goal" class="form-label">
                                        <select class="form-select" aria-label="Default select example" name="first_id">
                                          <option selected value="{{0}}">Choose the team:</option>  <!-- Добавлен value="{{0}} для проверки строки, выбрана ли команда -->
                                      {% for elem in array_of_teams_1 %}
                                          <option value="{{ elem.id }}">{{ elem.teamname }}</option>
                                      {% endfor %}
                                        </select>
                                <input type="number" class="form-control" id="1st_team_goal" aria-describedby="emailHelp" name="1st_team_goal">
                                </label>
                              </div>
                              <div class="mb-3">
                                <label for="2nd_team_goal" class="form-label">
                                        <select class="form-select" aria-label="Default select example" name="second_id">  <!--  name - то, как получим, value -  то, что получим -->
                                          <option selected value="{{0}}">Choose the team:</option>  <!-- Добавлен value="{{0}} для проверки строки, выбрана ли команда -->
                                      {% for elem in array_of_teams_2 %}
                                          <option value="{{ elem.id }}">{{ elem.teamname }}</option>
                                      {% endfor %}
                                        </select>
                                <input type="number" class="form-control" id="2nd_team_goal" aria-describedby="emailHelp" name="2nd_team_goal"> <!-- МОЖНО ЗАДАВАТЬ РАЗНЫЕ ТИПЫ(type)!-->
                                </label>
                              </div>
                              <!--<input type="submit" class="btn btn-outline-success me-2" value="Save">-->
                                <button type="button" class="btn btn-outline-warning me-2" data-bs-dismiss="modal">Continue</button>
                              <button type="button" class="btn btn-outline-danger me-2" data-bs-dismiss="modal">Close</button>
                            </form>
                      </div>
                    </div>
            </div>
        </div>
    </div>
</div>


<br>
<br>
    <!-- TOURNAMENT TABLE -->
<table class="table caption-top table-success">
    <caption><h3 align="center">Tournament Table</h3></caption>
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Team</th>
      <th scope="col">Games</th>
      <th scope="col">Goal diffs</th>
      <th scope="col">Scores</th>
    </tr>
  </thead>
  <tbody>
  {% set ns = namespace(count=1) %}
  {% for elem in array_of_games_per_team %}
    <tr>
      <th scope="row">{{ ns.count }}</th>
      <td><a href="{{ url_for('get_stats', teamname=elem.teamname) }}">{{ elem.teamname }}</a></td>
      <td>{{ elem.team_id_overall_games }}</td>
        <td>{{ elem.team_id_overall_goals }} - {{ elem.team_id_overall_passed_goals }}</td>
      <td>{{ elem.team_id_overall_score }}</td>
    </tr>
  {% set ns.count=(ns.count + 1) %}
  {% endfor %}
  </tbody>
</table>
<br>
<br>
{% endblock %}


</body>
</html>


