{% extends "base.html" %}
<html lang="en">

<body>

{% block navbar_top %}
<nav class="navbar navbar-light bg-light">
      <form class="container-fluid justify-content-end">
        <a class="btn btn-outline-success me-4" href="{{ url_for('logout') }}" role="button">Log out</a>
        <a class="btn btn-outline-danger me-2" role="button" data-bs-toggle="modal" data-bs-target="#DAS">Delete all stats</a>
      </form>
</nav>
{% endblock %}

{% block menu %}
<br>
{% for message in get_flashed_messages() %}
<div class="alert alert-danger border border-danger text-center" role="alert">
  {{ message }}
</div>
{% endfor %}

<!-- Warning Modal "Are you sure to del all stats..." -->
<div class="modal fade" id="DAS" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Warning!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete all stats?</p>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary" href="{{ url_for('delete_all_stats') }}">Yes</a>
        <a type="button" class="btn btn-secondary" data-bs-dismiss="modal" href="{{ url_for('index') }}">No</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
    {% set ns = namespace(count=1) %}
{% for elem_games in array_of_games %}
<div class="card m-3" style="width: 18rem;">
  <div class="card-body">
          <div class="mb-3">
              <button type="button" class="btn-close" aria-label="Close" data-bs-toggle="modal" data-bs-target="#DTG"></button>
              <p class="form-label text-center"><b>Game # {{ ns.count }}</b></p>
            <br>
            <div class="input-group">
               <span class="input-group-text">Team {{ elem_games.teams1.teamname }}</span>
               <div class="form-control" style="text-align: center;" aria-describedby="emailHelp">{{ elem_games.goals_1 }}</div>
              {% if elem_games.goals_1 !=0 %}
              <p class="form-label"><i>Goleador: {{ elem_games.playerstats[0].players.player }}</i></p>
              {% else %}
              <p class="form-label"><i>Goleador: No one </i></p>
              {% endif %}
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group">
               <span class="input-group-text">Team {{ elem_games.teams2.teamname }}</span>
               <div class="form-control" style="text-align: center;" aria-describedby="emailHelp">{{ elem_games.goals_2 }}</div>
              {% if elem_games.goals_2 !=0 and elem_games.goals_1 == 0 %}
              <p class="form-label"><i>Goleador: {{ elem_games.playerstats[0].players.player }}</i></p>
              {% elif elem_games.goals_2 !=0 and elem_games.goals_1 !=0 %}
              <p class="form-label"><i>Goleador: {{ elem_games.playerstats[1].players.player }}</i></p>
              {% else %}
              <p class="form-label"><i>Goleador: No one </i></p>
              {% endif %}
            </div>
          </div>
  </div>
</div>

<!-- Warning Modal "Are you sure to del the current Game #..." -->
<div class="modal fade" id="DTG" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Warning!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the current game?</p>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary" href="{{ url_for('delete_game_stats', game_number=elem_games.id) }}">Yes</a>
        <a type="button" class="btn btn-secondary" data-bs-dismiss="modal" href="{{ url_for('index') }}">No</a>
      </div>
    </div>
  </div>
</div>
{% set ns.count=(ns.count + 1) %}
{% endfor %}


<!-- Создание новой игры -->
<div class="card m-3" style="width: 18rem;">
  <div class="card-body">
    <a class="knopka_class position-absolute top-50 start-50 translate-middle" href="{{ url_for('create_new_game') }}">Add Game</a> <!-- data-bs-toggle="modal" data-bs-target="#newgame" -->
  </div>
</div>
</div>

<br>
<br>
    <!-- TOURNAMENT TABLE -->
<table class="table caption-top table-success">
    <caption><h3 align="center">Tournament Table</h3></caption>
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Team</th>
      <th scope="col">Games</th>
      <th scope="col">Goal diffs</th>
      <th scope="col">Scores</th>
    </tr>
  </thead>
  <tbody>
  {% set ns = namespace(count=1) %}
  {% for elem in array_of_games_per_team %}
    <tr>
      <th scope="row">{{ ns.count }}</th>
      <td><a href="{{ url_for('get_stats', teamname=elem.teamname) }}">{{ elem.teamname }}</a></td>
      <td>{{ elem.team_id_overall_games }}</td>
        <td>{{ elem.team_id_overall_goals }} - {{ elem.team_id_overall_passed_goals }}</td>
      <td>{{ elem.team_id_overall_score }}</td>
    </tr>
  {% set ns.count=(ns.count + 1) %}
  {% endfor %}
  </tbody>
</table>
<br>
<br>

    <!-- GOLEADORS TABLE -->
<table class="table caption-top table-success">
    <caption><h3 align="center">Goleadors Table</h3></caption>
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Player</th>
      <th scope="col">Team</th>
      <th scope="col">Goals</th>
    </tr>
  </thead>
  <tbody>
  {% set ns = namespace(count=1) %}
  {% for elem in array_of_players %}
    <tr>
      <th scope="row">{{ ns.count }}</th>
      <td>{{ elem.player }}</td>
      <td><a href="{{ url_for('get_stats', teamname=elem.player_team) }}">{{ elem.player_team }}</a></td>
      <td>{{ elem.player_goals }}</td>
    </tr>
  {% set ns.count=(ns.count + 1) %}
  {% endfor %}
  </tbody>
</table>
<br>
<br>
{% endblock %}
</body>
</html>


