{% extends "base.html" %}
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style_football_stats.css">
    <title>Stats</title>
</head>

<body>
{% block menu %}
<br>

<div class="container">
  <div class="row">
    <div class="col">
                  <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title text-center">"{{ obj.teamname }}" Team Stats:</h5>
                        <p class="card-text">
                                <table class="table table-borderles table-success table-striped">
                                  <thead class="table">
                                    <tr>
                                      <th scope="col"></th>
                                      <th scope="col"></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row" class="normal">Overall games:</th>
                                        <td><b>{{ obj.team_id_overall_games }}</b></td>
                                    </tr>
                                    <tr>
                                      <th scope="row" class="normal">Overall goals:</th>
                                      <td><b>{{ obj.team_id_overall_goals }}</b></td>
                                    </tr>
                                    <tr>
                                      <th scope="row" class="normal">Overall passed goals:</th>
                                      <td><b>{{ obj.team_id_overall_passed_goals }}</b></td>
                                    </tr>
                                    <tr>
                                      <th scope="row" class="normal">Overall score:</th>
                                      <td><b>{{ obj.team_id_overall_score }}</b></td>
                                    </tr>
                                  </tbody>
                                </table>
                          </p>
                      </div>
                  </div>
    </div>

    <div class="col">
           <img src="../static/images/{{ obj.teamname }}.png" alt="Wooah! Need to be added the Team Emblem to ..static/images/" width="400" height="400">
    </div>
  </div>
</div>

{% endblock %}

</body>
</html>